<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find jetauto_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jetauto_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jetauto_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find jetauto_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find jetauto_navigation)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find jetauto_navigation)/config/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find unitree_move_base)/config/base_local_planner_params.yaml" command="load" />
    <!--<rosparam file="$(find slamware_ros_sdk)/cfg/sim_drive/teb_local_planner_params.yaml" command="load" ns="TebLocalPlannerROS"/>-->
    <rosparam file="$(find jetauto_navigation)/config/move_base_params.yaml" command="load" />
    <remap from="cmd_vel" to="/cmd_vel" />
  </node>
</launch>
