<?xml version="1.0"?>

<robot name="lidar" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="laser_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.18 0 0.075"/>
        <parent link="base"/>
        <child link="laser_link"/>
    </joint> 

    <link name="laser_link">
        <visual>
            <geometry>
                <cylinder radius="0.025" length = "0.04"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length = "0.04"/>
            </geometry>
            <material name="red"/>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.00"/>
            <inertia
                    ixx="0.0000" ixy="0.0" ixz="0.0"
                    iyy="0.0000" iyz="0.0"
                    izz="0.000"/>      
        </inertial>
    </link>

    <gazebo reference="laser_link">
        <material>Gazebo/red</material>
        <sensor name="laser" type = "ray">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.2</min>
                    <max>6</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin name="gazebo_rplidar" filename="libgazebo_ros_laser.so">
                <topicName>scan</topicName>
                <frameName>laser_link</frameName>
            </plugin>
        </sensor>
    </gazebo>
    <!-- <xacro:stairs stairs="15" xpos="0" ypos="2.0" zpos="0" /> -->

</robot>
